body { 
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
    
    font-family: "bennet-display", sans-serif;
    font-weight: 400;
    font-style: normal;

    width: 500 px;
    margin: 10 auto;
    background-color: #f0e1ff

}

h1 {
    font-family: "sedgwick", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5em;
}

h2 /* HED */ {
    font-family: "nicholas", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;

    color: #9c4269;
}

h3 /* DEK */ {
    font-family: "nicholas", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7em;

}

h4 {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

p {
    font-family: "source-serif-pro", serif;
    font-weight: 200;
    font-style: normal;
    
}

/* _____________________________________________________________________________ */
/* NAVIGATION -- ALL PAGES */

#nav_bar {
    display: flex;
    flex-direction: row;
    background-color:  #f0e1ff;
    padding-bottom: .5em;
    padding-top: 1em;

    }
    
a:link{
    text-decoration: underline;
    color: black;
}

a:hover{
    background-color: none;
    color:#9c4269;
}

#nav_bar a:hover {
    background-color: none;
    color: #bc7ec7;
    }
    
.nav_item {
    display: inline-block;
    margin: auto;
    align-content: center;

    }
          
.nav_item a{
    color:rgb(93, 30, 92);
    text-decoration: none;
    }

.masthead a:link{
        text-decoration: none;
        color:rgb(93, 30, 92);
    }


img {
    border: 5px solid #9c4269;
      }

/* _____________________________________________________________________________ */
/* FINAL PAPER */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

#front {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;

    padding-bottom: 1em;

}

.sub {
    padding-top: 1em;
}


.source {
    padding-bottom: .1em;
}

/* _____________________________________________________________________________ */

@media (orientation: portrait) {
    #content {
         width: 100%
     }
   }
   